@import url("https://fonts.googleapis.com/css?family=Krona+One|Lato&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
}

nav {
  background: #073763;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
nav .scroll-position {
  width: 25%;
  height: 10px;
  background: #69c4ee;
  position: fixed;
  bottom: 0;
  transition: all 0.4s ease-in;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
nav ul .nav-item {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #1f2833;
  background: none;
  height: 50px;
  width: 25%;
}
nav ul .nav-item li,
nav ul .nav-item a {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fdfdfd;
  width: 100%;
  height: 100%;
}

body {
  font-family: "Lato";
  background: #1f2833;
  color: #fdfdfd;
  padding-bottom: 60px;
  margin: 0 auto;
}
body header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 85vh;
  padding: 5px;
  background: #1f2833;
  max-width: 1300px;
  margin: 0 auto;
}
@media (min-width: 700px) {
  body header {
    flex-direction: row;
  }
}
body header .face {
  padding-top: 21%;
  width: 50%;
  border-radius: 50%;
}
@media (min-width: 700px) {
  body header .face {
    padding-top: initial;
    padding: 20px;
    width: 30%;
  }
}
body header .name {
  font-family: "Krona One";
  font-size: 4.5rem;
  padding: 1rem 0;
  color: #69c4ee;
}
@media (min-width: 700px) {
  body header .name {
    font-size: 6.5rem;
    padding: 0 20px;
  }
}
body header .title {
  font-size: 3rem;
  padding: 5px;
}
@media (min-width: 700px) {
  body header .title {
    padding: 15px;
  }
}
body header .moto {
  font-size: 2.5rem;
  line-height: 1.5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .moto p {
  padding: 0.5rem;
}
body main section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  font-size: 2rem;
  padding: 2rem 1rem;
  margin-bottom: 10px;
  margin: 0 auto;
}
body main section .section-heading {
  font-family: "Krona One";
  font-size: 3rem;
  width: 100%;
  color: #69c4ee;
}
@media (min-width: 700px) {
  body main section .section-heading {
    padding: 5rem 0 4rem 0;
  }
}
body main .skills-container {
  background: #fdfdfd;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .skills {
  background: #fdfdfd;
  justify-content: flex-start;
  font-size: 2.5rem;
  max-width: 1300px;
}
body main .skills ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  height: 100%;
}
body main .skills ul li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 48%;
  color: #69c4ee;
  padding: 15px 0;
}
@media (min-width: 700px) {
  body main .skills ul li {
    width: 25%;
    padding: 30px 0;
  }
}
body main .skills ul li i,
body main .skills ul li .iconify {
  color: #69c4ee;
  font-size: 5rem;
  padding: 3px;
}
body main .skills ul li svg {
  width: 5.5rem;
  padding: 3px;
  fill: #69c4ee;
}
body main .projects-container {
  background: #1f2833;
  width: 100%;
}
body main .projects {
  background: #1f2833;
  color: #fdfdfd;
  max-width: 1300px;
}
body main .projects .section-heading {
  color: #69c4ee;
  padding-bottom: initial;
}
body main .projects .project {
  background: #073763;
  margin: 25px 0;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 700px) {
  body main .projects .project {
    padding: 20px;
  }
}
body main .projects .app-img {
  max-width: 100%;
}
body main .projects .project-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
body main .projects .project-heading .title {
  font-size: 3.5rem;
  padding: 1.5rem 15px 1.5rem 0;
  width: 100%;
  flex-wrap: nowrap;
}
body main .projects .project-heading .github {
  padding: 10px;
  font-size: 2.5rem;
}
body main .projects .project-heading .github i {
  font-size: 3rem;
  padding: 0 5px 0 0;
}
body main .projects .project-heading a {
  color: #69c4ee;
}
body main .projects .description {
  padding: 10px;
  line-height: 1.4;
  font-size: 2.2rem;
}
body main .projects .tech-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
}
body main .projects .tech-list .tech {
  text-align: center;
  margin: 5px;
  padding: 5px;
  border-left: 1px solid gray;
}
body main .projects .contribution-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body main .projects .contribution-list .contribution {
  width: 85%;
  list-style: outside;
  margin: 10px;
  line-height: 1.4;
  font-size: 2.2rem;
}
body main .contact-container {
  width: 100%;
  background: #69c4ee;
}
body main .contact,
body main .follow {
  max-width: 1300px;
  min-height: 45vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 2rem;
}
@media (min-width: 700px) {
  body main .contact,
body main .follow {
    flex-direction: row;
  }
}
body main .contact .section-heading,
body main .follow .section-heading {
  color: #1f2833;
}
body main .contact i,
body main .follow i {
  font-size: 3.5rem;
}
body main .contact .method,
body main .follow .method {
  color: #fdfdfd;
  width: 360px;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
}
body main .contact .method label,
body main .follow .method label {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7.5rem;
}
body main .contact .method p,
body main .follow .method p {
  margin-left: 3.5rem;
}
@media (min-width: 700px) {
  body main .contact .method,
body main .follow .method {
    width: 386px;
  }
}

/*# sourceMappingURL=index.css.map */
