@use 'variables' as *;
@use 'mixins';
@use 'nav';

body {
    @include mixins.flex();
    font-family: $font-primary;
    background: $dark;
    color: $white;
    padding-bottom: 60px;
    // border: 5px solid blue;

    header {
        // border: 1px solid red;
        @include mixins.flex(column, space-around);
        text-align: center;
        height: 85vh;
        padding: 5px;
        .face {
            padding-top: 21%;
            width: 50%;
            border-radius: 50%;
        }

        .name {
            font-family: $font-heading;
            font-size: 4.5rem;
            padding: 1rem 0;
            color: blue;
        }

        .title {
            font-size: 3rem;
            padding: 5px;
        }

        .moto {
            font-size: 2.5rem;
            line-height: 1.5;
        }
    }

    main {
        padding: 5px;

        section {
            @include mixins.flex();
            min-height: 85vh;
            // border: 1px solid red;
            font-size: 2rem;
            padding: 2rem 1rem;
            margin-bottom: 10px;

            .section-heading {
                font-family: $font-heading;
                font-size: 3rem;
                // font-weight: bold;
                width: 100%;
            }
        }

        .skills {
            background: rgba(0, 9, 128, 0.432);
            justify-content: flex-start;

            font-size: 2.5rem;
            ul {
                @include mixins.flex(row, space-around, flex-start);
                // align-content: space-around;
                height: 100%;
                // border: 1px solid red;

                li {
                    @include mixins.flex();
                    width: 48%;
                    color: blue;
                    padding: 15px 0;
                    // border: 1px solid green;
                    i,
                    .iconify {
                        color: blue;
                        font-size: 5rem;
                        padding: 3px;
                    }
                    svg {
                        width: 5.5rem;
                        padding: 3px;
                        fill: blue;
                    }
                }
            }
        }

        .projects {
            background: rgba(128, 0, 128, 0.432);

            .project {
                // background: silver;
                margin: 25px 0;
            }

            .app-img {
                max-width: 100%;
                // border: 1px solid red;
            }

            .project-heading {
                @include mixins.flex(column, flex-start, flex-start);
                // transform: translateY(-20px);

                .title {
                    font-size: 3.5rem;
                    padding: 2rem 0;
                    width: 100%;
                    text-align: end;
                    // border: 1px solid red;
                    flex-wrap: nowrap;
                }
                .github {
                    padding: 10px;
                    font-size: 2.5rem;
                    i {
                        font-size: 3rem;
                        padding: 0 5px 0 0;
                    }
                }
            }

            .description {
                padding: 0 10px;
                line-height: 1.4;
                font-size: 2.2rem;
            }

            .tech-list {
                @include mixins.flex(row, flex-start, flex-start);
                padding: 10px 0;

                .tech {
                    text-align: center;
                    margin: 5px;
                    padding: 5px;
                    border-left: 1px solid gray;
                    // border-right: 1px solid gray;
                }
            }

            .contribution-list {
                @include mixins.flex();

                .contribution {
                    width: 85%;
                    // margin: 5px;
                    list-style: outside;
                    margin: 10px;
                    line-height: 1.4;
                    font-size: 2.2rem;
                }
            }
        }

        .contact,
        .follow {
            min-height: 45vh;
            @include mixins.flex(column, space-around);
            font-size: 2rem;
            // border: 1px solid red;

            i {
                font-size: 3.5rem;
            }

            .method {
                // border: 1px solid red;
                width: 90%;
                padding: 20px 0;
                @include mixins.flex(row, flex-start, flex-end);
                flex-wrap: nowrap;
                label {
                    @include mixins.flex();
                    width: 7.5rem;
                }
                p {
                    margin-left: 3.5rem;
                    // border: 1px solid red;
                }
            }
        }
    }
}
