@mixin flex($dir: column, $j: center, $a: center) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: $dir;
    justify-content: $j;
    align-items: $a;
}

@mixin link {
    transition: transform 1s ease-out;
    :hover {
        transform: translateY(5px);
    }
}
