@use 'variables' as *;
@use 'mixins';

html {
    scroll-behavior: smooth;
}

nav {
    // @include mixins.flex(column, flex-end);
    // height: 60px;
    // background: red;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;

    .scroll-position {
        width: 25%;
        height: 10px;
        background: $bright;
        position: fixed;
        bottom: 0;
        transition: all 0.4s ease-in;
    }

    ul {
        @include mixins.flex(row);
        flex-wrap: nowrap;
        // border: 3px solid green;
        // width: 100%;
        // position: relative;
        // bottom: 0;

        .nav-item {
            font-size: 2rem;
            @include mixins.flex();
            // color: $bright;
            border: 1px solid $dark;
            background: $medium-dark;
            height: 50px;
            width: 25%;

            li,
            a {
                @include mixins.flex();
                text-decoration: none;
                color: $white;
            }
        }
    }
}
