@import url('https://fonts.googleapis.com/css?family=Krona+One|Lato&display=swap');

$desktop: 700px;
$maxWidth: 1300px;

$font-primary: 'Lato';
$font-heading: 'Krona One';

// // dark with bright accents that pop ---------- good!!
// $dark: #0b0c10;
// $medium-dark: #1f2833;
// $bright: #4ce6ba;
// $white: #fdfdfd;
// $medium-bright: #1f6652;

// $bright: #66fcf1;
// $medium-bright: #45a29e;

// $dark: #0b0c10;
// $medium-dark: #1f2833;
// $bright: #69c4ee;
// $white: #fdfdfd;
// $medium-bright: #073763;

$dark: #1f2833;
$medium-dark: #073763;
$bright: #69c4ee;
$white: #fdfdfd;
$medium-bright: #69c4ee;

// // clasheswith screen shots
// $dark: #05386b;
// $medium-dark: #379863;
// $white: #edf5e1;
// $bright: #5cdb95;
// $medium-bright: #8ee4af;

// // veryblueand meh
// $dark: #0c0032;
// $medium-dark: #282828;
// $white: #dbdbdb;
// $bright: #6941e2;
// $medium-bright: #240090;

// // too earthy don't like the accent
// $dark: #2c3531;
// $medium-dark: #116466;
// $white: #d1e8e2;
// $bright: #ffcb98;
// $medium-bright: #d9b08c;

//Earthy and clashes
// $dark: #7e685a;
// $medium-dark: #c2b9b0;
// $white: #c2cad0;
// $bright: #afd275;
// $medium-bright: #e7717d;

// // pink accent okay
// $dark: #1c3334;
// $medium-dark: #2e151b;
// $white: #90979c;
// $bright: #da7b93;
// $medium-bright: #376e6f;

// // sameas above but swithed ---- better----okay
// $dark: #0f292f;
// $medium-dark: #501f3a;
// $white: #cccccc;
// $bright: #14a098;
// $medium-bright: #cb2d6f;

// // good medium bright colorful ------------- good!!!
// $dark: #24305e;
// $medium-dark: #374785;
// $white: #a8d0e6;
// $bright: #f8e9a1;
// $medium-bright: #f0897b;

// $medium-bright: #f76c6c;

// //medium bright mellow - clashes
// $dark: #182628;
// $medium-dark: #3b945e;
// $white: #f2f2f2;
// $bright: #65ccb8;
// $medium-bright: #57ba98;

// //slight earthy and boring - contrast issues
// $dark: #687864;
// $medium-dark: #31708e;
// $white: #f7f9fb;
// $bright: #8fc1e3;
// $medium-bright: #5085a5;

// // burbery girl
// $dark: #19181a;
// $medium-dark: #a16e83;
// $white: #b19f9e;
// $bright: #cecb81;
// $medium-bright: #479761;

// // same as above - swapped
// $dark: #b19f9e;
// $medium-dark: #a16e83;
// $white: #19181a;
// $bright: #479761;
// $medium-bright: #cecb81;

// // purple smolder has accent contrast issues
// $dark: #2d283e;
// $medium-dark: #4c495d;
// $white: #d1d7e0;
// $bright: #802bb1;
// $medium-bright: #564f6f;

// // good except for yellow -- bright
// $dark: #edeae5;
// $medium-dark: #fef9c7;
// $white: #026670;
// $bright: #1ed6a2;
// $medium-bright: #f7cc30;
