@import url('https://fonts.googleapis.com/css?family=Krona+One|Lato&display=swap');

$font-primary: 'Lato';
$font-heading: 'Krona One';

$dark: #0b0c10;
$medium-dark: #1f2833;
$white: #c5c6c7;
$bright: #66fcf1;
$medium-bright: #45a29e;
